<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='build/bootstrap.css')}}" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<title>BOILERPLATE APP</title>
</head>

<body class="full-alt">
	<!-- START -->
	{% block content %}
	
	{% endblock content %}
	<!--  END  -->
	<script src="{{url_for('static',filename='build/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='build/popper.min.js')}}"></script>
	<script src="{{url_for('static',filename='build/bootstrap.min.js')}}"></script>
	<!-- <script src="{{url_for('static',filename='javascript/custom.js')}}"></script> -->
</body>


</html>